* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 300ms;
}

*::selection {
  background: #58D1BD;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}
@media (max-width: 1112px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 1115px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 850px) {
  html {
    font-size: 7px;
  }
}

body {
  font-family: Roboto, sans-serif;
  background: #F1F6F6;
  overflow-x: hidden;
  color: #004A43;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 4.5rem;
}

.header {
  background: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  align-items: center;
  height: 11.2rem;
}
@media (max-width: 968px) {
  .navbar {
    justify-content: unset;
  }
}

@media (max-width: 320px) {
  .logo a img {
    height: 2rem;
  }
}

@media (max-width: 968px) {
  .authorisation {
    margin-left: auto;
  }
}
.authorisation a {
  color: #7D77FC;
  font-weight: 700;
}
.authorisation a:first-child {
  margin-right: 1.8vw;
}
@media (max-width: 414px) {
  .authorisation a:first-child {
    margin-right: 4.8vw;
    font-size: 2.5rem;
  }
}
@media (max-width: 375px) {
  .authorisation a:first-child {
    margin-right: 3vw;
    font-size: 2rem;
  }
}
@media (max-width: 968px) {
  .authorisation a:nth-child(2) {
    margin-right: 1.8vw;
  }
}
@media (max-width: 968px) and (max-width: 414px) {
  .authorisation a:nth-child(2) {
    margin-right: 4.8vw;
    font-size: 2.5rem;
  }
}
@media (max-width: 968px) and (max-width: 375px) {
  .authorisation a:nth-child(2) {
    margin-right: 3vw;
    font-size: 2rem;
  }
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active2 {
  transform: rotate(45deg);
}

.hamRotate180.active2 {
  transform: rotate(180deg);
}

.line1 {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #ffffff;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham3 .top2 {
  stroke-dasharray: 40 130;
}

.ham3 .middle2 {
  stroke-dasharray: 40 140;
}

.ham3 .bottom2 {
  stroke-dasharray: 40 205;
}

.ham3.active2 .top2 {
  stroke-dasharray: 75 130;
  stroke-dashoffset: -63px;
}

.ham3.active2 .middle2 {
  stroke-dashoffset: -102px;
}

.ham3.active2 .bottom2 {
  stroke-dasharray: 110 205;
  stroke-dashoffset: -86px;
}

.nav-list {
  display: flex;
}
.nav-list li a {
  margin-right: 1.8vw;
  color: #004A43;
}
.nav-list li a:hover {
  padding: 0.3rem;
  background: #EEA239;
  border-radius: 1rem;
  color: white;
}

.burger {
  display: none;
  width: 5rem;
  height: 5rem;
  background: #004A43;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  z-index: 9;
  color: white;
}
@media (max-width: 968px) {
  .burger {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.burger .nav-list {
  position: absolute;
  background: #004A43;
  padding: 1rem;
  top: 16.8rem;
  border-radius: 2rem;
  right: -25%;
  list-style: none;
  transition: 500ms ease-in-out;
  z-index: -1;
  display: flex;
  flex-direction: column;
  transform: rotate(317deg) translate(56%, 1rem);
  opacity: 0;
  visibility: hidden;
}
.burger .nav-list li {
  width: 30rem;
  padding: 2rem;
  font-size: 2rem;
}
.burger .nav-list li a {
  color: white;
}
.burger .nav-list li a:hover {
  padding: 0.3rem;
  background: #EEA239;
  border-radius: 1rem;
}
.burger .nav-list:after {
  content: "";
  width: 2rem;
  height: 2rem;
  background: #004A43;
  position: absolute;
  top: -2%;
  right: 9%;
  border-radius: 15%;
  transform: rotate(45deg);
}

.nav-list.visible {
  opacity: 1;
  visibility: visible;
  top: 6.5rem;
  transform: rotate(360deg) translate(0, 0);
}

.main-wrap {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 772px) {
  .main-wrap {
    flex-direction: column;
  }
}

.main-title {
  margin: 12.8rem 0;
  color: #004A43;
  flex: 50%;
}
.main-title .title {
  font-size: 4.8rem;
  font-weight: 700;
  max-width: 45.4rem;
}
.main-title .text {
  font-size: 2.4rem;
  width: 53.6rem;
  margin: 3.2rem 2rem 3.2rem 0;
}
@media (max-width: 430px) {
  .main-title .text {
    width: unset;
  }
}
.main-title button {
  width: 38.6rem;
  height: 6.7rem;
  display: grid;
  place-items: center;
  font-size: 2.1rem;
  outline: none;
  border: none;
  background: #FFAD3D;
  border-radius: 1.2rem;
  font-weight: 700;
  color: #004A43;
  margin-bottom: 3.2rem;
  cursor: pointer;
}
.main-title button:hover {
  background: #7D77FC;
  color: white;
}
.main-title .main-link {
  font-size: 1.6rem;
}
.main-title .main-link a {
  color: #58D1BD;
  text-decoration: underline;
}

.main-image {
  flex: 50%;
  max-width: 63.5rem;
  max-height: 43.8rem;
  position: relative;
}
.main-image .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.8rem;
}
.main-image .decor1 {
  position: absolute;
  top: -10%;
  right: -10%;
  width: 25%;
}
.main-image .decor2 {
  position: absolute;
  bottom: -10%;
  left: -10%;
  width: 25%;
}
.main-image .decor3 {
  position: absolute;
  top: -23%;
  left: 10%;
  width: 32%;
  z-index: -1;
}
.main-image .decor4 {
  position: absolute;
  bottom: -23%;
  right: -13%;
  width: 32%;
  z-index: -1;
}

.supports {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6.3rem 0;
}
.supports h2 {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  color: #5C9992;
  margin-bottom: 3.7rem;
}
.supports .supports-logo {
  max-width: 71.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.3rem;
}
.supports .supports-logo img {
  max-height: 4rem;
  margin: 0 2vw;
}
@media (max-width: 320px) {
  .supports .supports-logo img {
    max-height: 3.6rem;
  }
}

.offers {
  background: white;
  color: #004A43;
  padding: 7rem 0;
}
.offers h1 {
  text-align: center;
  font-size: 3.2rem;
}

.offers-card-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
@media (max-width: 688px) {
  .offers-card-wrap {
    flex-direction: column;
  }
}
.offers-card-wrap .offers-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.offers-card-wrap .offers-card .circle {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 0.3rem solid black;
  font-size: 2.3rem;
  font-weight: 700;
  display: grid;
  place-items: center;
  margin: 4.1rem 0 2rem 0;
}
.offers-card-wrap .offers-card .offers-title {
  font-size: 1.8rem;
  font-weight: 700;
}
.offers-card-wrap .offers-card .offers-description {
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem 0 1.2rem 0;
  max-width: 36.6rem;
  line-height: 2.2rem;
}
.offers-card-wrap .offers-card .offers-link {
  font-size: 1.6rem;
  color: #7D77FC;
  font-weight: 700;
}
.offers-card-wrap .offers-card .mod-1 {
  color: #019380;
  border: 0.3rem solid #019380;
}
.offers-card-wrap .offers-card .mod-2 {
  color: #EEA239;
  border: 0.3rem solid #EEA239;
}
.offers-card-wrap .offers-card .mod-3 {
  color: #FA70B6;
  border: 0.3rem solid #FA70B6;
}

.personal-finances__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 0 3rem 0;
}
@media (max-width: 834px) {
  .personal-finances__wrap {
    flex-direction: column;
  }
}
.personal-finances__wrap .personal-finances__image {
  max-width: 50rem;
  max-height: 36rem;
  margin: 3rem;
}
.personal-finances__wrap .personal-finances__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.personal-finances__wrap .personal-finances__text {
  max-width: 58.2rem;
  gap: 3rem;
  margin: 3rem;
}
.personal-finances__wrap .personal-finances__text .title {
  font-size: 3.2rem;
  font-weight: 700;
  text-align: unset;
  margin-bottom: 6rem;
}
.personal-finances__wrap .personal-finances__text .description {
  font-size: 1.5rem;
  line-height: 2.2rem;
}

.hr {
  color: #004A43;
  padding: 7.5rem 0;
}
.hr .hr-title {
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
}
.hr .sources {
  color: #5C9992;
  font-size: 1.6rem;
  text-align: center;
}

.hr-card__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 6rem 0 2rem 0;
  align-items: center;
}
.hr-card__wrap .hr-card {
  width: 40rem;
  height: 23rem;
  background: white;
  border-radius: 2.5rem;
  padding: 0 3rem;
  display: flex;
  margin: 1.5rem;
  flex-direction: column;
  justify-content: center;
}
.hr-card__wrap .hr-card h3 {
  font-size: 1.8rem;
  font-weight: 700;
}
.hr-card__wrap .hr-card .diagram-wrap {
  display: flex;
  margin: 2.4rem 0;
}
.hr-card__wrap .hr-card h2 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-right: 2.3rem;
}
.hr-card__wrap .hr-card .diagram {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.hr-card__wrap .hr-card .one {
  background: radial-gradient(circle closest-side, transparent 100%, #fff 0), conic-gradient(from 189deg, #58D1BD 0, #58D1BD 55%, #004A43 0, #004A43 45%);
}
.hr-card__wrap .hr-card .two {
  background: radial-gradient(circle closest-side, transparent 100%, #fff 0), conic-gradient(from 111deg, #3DA6C3 0, #3DA6C3 68%, #004A43 0, #004A43 32%);
}
.hr-card__wrap .hr-card .three {
  background: radial-gradient(circle closest-side, transparent 100%, #fff 0), conic-gradient(from 187deg, #004A43 0, #004A43 51%, #FA70B6 0, #FA70B6 49%);
}
.hr-card__wrap .hr-card .four {
  background: radial-gradient(circle closest-side, transparent 100%, #fff 0), conic-gradient(from 111deg, #FFAD3D 0, #FFAD3D 70%, #004A43 0, #004A43 30%);
}
.hr-card__wrap .hr-card p {
  font-size: 1.5rem;
  line-height: 2.2rem;
  width: 21.1rem;
}

.onTOP {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: #7D77FC;
  transform: rotate(270deg);
  display: grid;
  place-items: center;
}
.onTOP:hover {
  background: #EEA239;
}
.onTOP svg {
  width: 3rem;
  height: 3rem;
  fill: white;
}

.partners {
  background: white;
  color: #004A43;
  padding: 6.4rem 0;
}
.partners h1 {
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
}

.partners-card-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 4rem;
  margin-top: 3rem;
}
.partners-card-wrap .partners-card {
  width: 30.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.partners-card-wrap .partners-card .icon {
  width: 4.8rem;
  height: 4.8rem;
}
.partners-card-wrap .partners-card .icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.partners-card-wrap .partners-card h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 1.6rem 0 2rem 0;
}
.partners-card-wrap .partners-card p {
  font-size: 1.6rem;
  text-align: center;
  line-height: 2.4rem;
}

.zoom {
  padding: 6rem 0;
  color: #004A43;
}
.zoom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.zoom-quote-wrap {
  max-width: 95.8rem;
}
.zoom-quote-wrap .zoom-description {
  font-size: 2.4rem;
  line-height: 3.2rem;
}
.zoom-quote-wrap .author {
  display: flex;
  align-items: center;
  margin-top: 6rem;
}
@media (max-width: 414px) {
  .zoom-quote-wrap .author {
    display: block;
  }
}
.zoom-quote-wrap .author .avatar {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background: #004A43;
}
.zoom-quote-wrap .author .name {
  font-size: 1.7rem;
  margin: 0 3.6rem 0 1.7rem;
}
@media (max-width: 414px) {
  .zoom-quote-wrap .author .name {
    margin: 3.6rem 0 1.7rem;
  }
}
.zoom-quote-wrap .author .company {
  height: 4rem;
}
@media (max-width: 414px) {
  .zoom-quote-wrap .author .company {
    width: 8rem;
  }
}

.live-stages {
  background: white;
  padding: 7rem 0;
}
.live-stages .live-stages-title {
  text-align: center;
  font-size: 3.2rem;
}

.live-stages-wrap {
  display: grid;
  place-items: center;
}

.live-stages-content {
  display: flex;
  align-items: center;
}
@media (max-width: 619px) {
  .live-stages-content {
    flex-direction: column;
  }
}
.live-stages-content .live-stages-image {
  width: 38.6rem;
  height: 38.6rem;
  background: #ee5253;
  margin: 3rem;
  border-radius: 2rem;
  overflow: hidden;
}
@media (max-width: 320px) {
  .live-stages-content .live-stages-image {
    width: 35.6rem;
    height: 35.6rem;
  }
}
.live-stages-content .live-stages-image:hover {
  transform: scale(1.1);
}
@media (max-width: 340px) {
  .live-stages-content .live-stages-image {
    margin: 3rem 0 0 0;
  }
}
.live-stages-content .live-stages-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.live-stages-list {
  margin: 3rem;
}
@media (max-width: 320px) {
  .live-stages-list {
    margin: 3rem 0 0 0;
  }
}
.live-stages-list li {
  display: flex;
  align-items: center;
  font-size: 2.1rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.live-stages-list li:hover {
  transform: scale(0.9);
}
.live-stages-list li .list-icon {
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 1.6rem;
}
.live-stages-list li .list-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.employers {
  padding: 7rem 0;
}
.employers h1 {
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
}

.employers-card-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}
@media (max-width: 786px) {
  .employers-card-wrap {
    flex-direction: column;
  }
}
.employers-card-wrap .employers-card {
  margin: 1.5rem;
  width: 49.2rem;
  height: 47rem;
  background: white;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  padding: 3.5rem 3.2rem;
  overflow: hidden;
}
@media (max-width: 320px) {
  .employers-card-wrap .employers-card {
    width: 43.2rem;
  }
}
.employers-card-wrap .employers-card:hover {
  transform: scale(0.9);
}
.employers-card-wrap .employers-card .employers-card-image {
  position: absolute;
  width: 100%;
  height: 28.5rem;
  top: 0;
  left: 0;
}
.employers-card-wrap .employers-card .employers-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.employers-card-wrap .employers-card .employers-card-text h2 {
  font-size: 1.8rem;
  font-weight: 700;
}
.employers-card-wrap .employers-card .employers-card-text p {
  font-size: 1.5rem;
  margin: 1.3rem 0 0.8rem 0;
  line-height: 2.2rem;
}
.employers-card-wrap .employers-card .employers-card-text a {
  font-size: 1.6rem;
  font-weight: bold;
  color: #7D77FC;
}

.schedule {
  padding: 12.8rem 0;
  background: #004A43;
}

.schedule-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.schedule-wrap h1 {
  text-align: center;
  font-size: 3.2rem;
  color: white;
}
.schedule-wrap button {
  margin-top: 3.2rem;
  background: #EEA239;
  outline: none;
  border: none;
  font-size: 2.1rem;
  font-weight: 700;
  color: #004A43;
  padding: 2.1rem 5.8rem;
  border-radius: 1.5rem;
  cursor: pointer;
}
.schedule-wrap button:hover {
  background: #7D77FC;
  color: white;
}

.footer {
  background: #004A43;
  color: white;
  font-size: 1.5rem;
  position: relative;
  padding: 7rem 0;
}
@media (max-width: 590px) {
  .footer {
    font-size: 2.3rem;
  }
}
.footer h2 {
  margin-top: 5rem;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 590px) {
  .footer-wrapper {
    flex-direction: column;
  }
}
.footer-wrapper li {
  margin-top: 2rem;
}

.social {
  display: flex;
}
.social .icons {
  margin-right: 1.6rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: white;
  display: grid;
  place-items: center;
}
.social .icons a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social .icons a svg {
  height: 1.3rem;
  margin: 0;
  fill: #004A43;
}

.footer-logo {
  flex: 30rem;
}
.footer-logo svg {
  margin-top: 5rem;
}
.footer-logo p {
  margin: 2rem 0;
}

.company2 {
  flex: 16.6rem;
}

.product {
  flex: 25.1rem;
}

.use-cases {
  flex: 24.7rem;
}

.support {
  flex: 14.8rem;
}

.cat-in-footer {
  width: 8.6rem;
  height: 10.2rem;
  position: absolute;
  bottom: 0;
  left: 4.5rem;
}
@media (max-width: 980px) {
  .cat-in-footer {
    left: 50%;
    transform: translateX(-50%);
  }
}
.cat-in-footer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=main.css.map */
