* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
  scroll-behavior: smooth;
}

*::selection {
  background: #58D1BD;
}

html {
  font-size: 10px;
  @media(max-width: 1112px) {
    font-size: 9px;
  }
  @media(max-width: 1115px) {
    font-size: 8px;
  }
  @media(max-width: 850px) {
    font-size: 7px;
  }
}

body {
  font-family: Roboto, sans-serif;
  background: #F1F6F6;
  overflow-x: hidden;
  color: #004A43;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 4.5rem;
}

.header {
  background: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;

  @media(max-width: 968px) {
    justify-content: unset;
  }
  align-items: center;
  height: 11.2rem;
}

.nav-list {
  display: flex;

  li {

    a {
      margin-right: 1.8vw;
      color: #004A43;
    }

  }

  @media(max-width: 968px) {
    display: none;
  }
}

.authorisation {
  @media(max-width: 968px) {
    margin-left: auto;
  }

  a {
    color: #7D77FC;
    font-weight: 700;

    &:first-child {
      margin-right: 1.8vw;

    }

    @media(max-width: 968px) {
      &:nth-child(2) {
        margin-right: 1.8vw;
      }
    }
  }
}

.burger {
  display: none;
  width: 3rem;
  height: 3rem;
  background: #004A43;
  border-radius: 50%;
  cursor: pointer;
  @media(max-width: 968px) {
    display: block;
  }
}

.main-wrap {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.main-title {
  margin: 12.8rem 0;
  color: #004A43;
  flex: 50%;

  .title {
    font-size: 4.8rem;
    font-weight: 700;
    max-width: 45.4rem;
  }

  .text {
    font-size: 2.4rem;
    width: 53.6rem;
    margin: 3.2rem 2rem 3.2rem 0;
  }

  button {
    width: 38.6rem;
    height: 6.7rem;
    display: grid;
    place-items: center;
    font-size: 2.1rem;
    outline: none;
    border: none;
    background: #FFAD3D;
    border-radius: 1.2rem;
    font-weight: 700;
    color: #004A43;
    margin-bottom: 3.2rem;
    cursor: pointer;

    &:hover {
      background: #7D77FC;
      color: white;
    }
  }

  .main-link {
    font-size: 1.6rem;

    a {
      color: #58D1BD;
      text-decoration: underline;
    }
  }
}

.main-image {
  flex: 50%;
  max-width: 63.5rem;
  max-height: 43.8rem;
  position: relative;

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.8rem;
  }

  .decor1 {
    position: absolute;
    top: -10%;
    right: -10%;
    width: 25%;
  }

  .decor2 {
    position: absolute;
    bottom: -10%;
    left: -10%;
    width: 25%;
  }

  .decor3 {
    position: absolute;
    top: -23%;
    left: 10%;
    width: 32%;
    z-index: -1;
  }

  .decor4 {
    position: absolute;
    bottom: -23%;
    right: -13%;
    width: 32%;
    z-index: -1;
  }
}

.supports {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6.3rem 0;

  h2 {
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    color: #5C9992;
    margin-bottom: 3.7rem;
  }

  .supports-logo {
    max-width: 71.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.3rem;

    img {
      max-height: 4rem;
      margin: 0 2vw;
    }
  }
}

.offers {
  background: white;
  color: #004A43;
  padding: 7rem 0;

  h1 {
    text-align: center;
    font-size: 3.2rem;
  }
}

.offers-card-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  @media(max-width: 688px) {
    flex-direction: column;
  }
  gap: 3rem;

  .offers-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .circle {
      width: 4.8rem;
      height: 4.8rem;
      border-radius: 50%;
      border: .3rem solid black;
      font-size: 2.3rem;
      font-weight: 700;
      display: grid;
      place-items: center;
      margin: 4.1rem 0 2rem 0;
    }

    .offers-title {
      font-size: 1.8rem;
      font-weight: 700;
    }

    .offers-description {
      text-align: center;
      font-size: 1.5rem;
      margin: 2rem 0 1.2rem 0;
      max-width: 36.6rem;
      line-height: 2.2rem;
    }

    .offers-link {
      font-size: 1.6rem;
      color: #7D77FC;
      font-weight: 700;
    }

    .mod-1 {
      color: #019380;
      border: .3rem solid #019380;
    }

    .mod-2 {
      color: #EEA239;
      border: .3rem solid #EEA239;
    }

    .mod-3 {
      color: #FA70B6;
      border: .3rem solid #FA70B6;
    }
  }
}


.personal-finances__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 0 3rem 0;

  .personal-finances__image {
    max-width: 50rem;
    max-height: 36rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .personal-finances__text {
    max-width: 58.2rem;
    gap: 3rem;

    .title {
      font-size: 3.2rem;
      font-weight: 700;
      text-align: unset;
      margin-bottom: 6rem;
    }

    .description {
      font-size: 1.5rem;
      line-height: 2.2rem;
    }
  }
}

.hr {
  color: #004A43;
  padding: 7.5rem 0;

  .hr-title {
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center;
  }

  .sources {
    color: #5C9992;
    font-size: 1.6rem;
    text-align: center;
  }
}

.hr-card__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 6rem 0 2rem 0;
  align-items: center;

  .hr-card {
    width: 40rem;
    height: 23rem;
    background: white;
    border-radius: 2.5rem;
    padding: 0 3rem;
    display: flex;
    margin: 1.5rem;
    flex-direction: column;
    justify-content: center;

    h3 {
      font-size: 1.8rem;
      font-weight: 700;
    }

    .diagram-wrap {
      display: flex;
      margin: 2.4rem 0;
    }

    h2 {
      font-size: 2.4rem;
      font-weight: 700;
      margin-right: 2.3rem;
    }

    .diagram {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background: radial-gradient(circle closest-side, transparent 100%, #fff 0),
      conic-gradient(from 189deg, #58D1BD 0, #58D1BD 55%, #004A43 0, #004A43 45%);
    }

    p {
      font-size: 1.5rem;
      line-height: 2.2rem;
      width: 21.1rem;
    }
  }
}

.onTOP {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: #7D77FC;
}


.partners {
  background: white;
  color: #004A43;
  padding: 6.4rem 0;

  h1 {
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center;
  }
}

.partners-card-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 4rem;
  margin-top: 3rem;

  .partners-card {
    width: 30.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;

    .icon {
      width: 4.8rem;
      height: 4.8rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    h2 {
      font-size: 1.8rem;
      font-weight: bold;
      margin: 1.6rem 0 2rem 0;
    }

    p {
      font-size: 1.6rem;
      text-align: center;
      line-height: 2.4rem;
    }
  }
}

.zoom {
  padding: 6rem 0;
  color: #004A43;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.zoom-quote-wrap {
  max-width: 95.8rem;

  .zoom-description {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  .author {
    display: flex;
    align-items: center;
    margin-top: 6rem;

    .avatar {
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;
      background: #004A43;
    }

    .name {
      font-size: 1.7rem;
      margin: 0 3.6rem 0 1.7rem;
    }

    .company {
      height: 4rem;
    }
  }
}

.live-stages {
  background: white;
  padding: 7rem 0;

  .live-stages-title {
    text-align: center;
    font-size: 3.2rem;
  }
}

.live-stages-wrap {
  display: grid;
  place-items: center;
}

.live-stages-content {
  display: flex;
  align-items: center;

  .live-stages-image {
    width: 38.6rem;
    height: 38.6rem;
    background: #ee5253;
    margin: 3rem;
    border-radius: 2rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.live-stages-list {
  margin: 3rem;

  li {
    display: flex;
    align-items: center;
    font-size: 2.1rem;
    margin-bottom: 1.5rem;

    .list-icon {
      width: 3.2rem;
      height: 3.2rem;
      margin-right: 1.6rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.employers {
  padding: 7rem 0;

  h1 {
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center;
  }
}

.employers-card-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
  @media(max-width: 786px) {
    flex-direction: column;
  }

  .employers-card {
    margin: 1.5rem;
    width: 49.2rem;
    height: 47rem;
    background: white;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    padding: 3.5rem 3.2rem;
    overflow: hidden;

    .employers-card-image {
      position: absolute;
      width: 100%;
      height: 28.5rem;
      top: 0;
      left: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .employers-card-text {

      h2 {
        font-size: 1.8rem;
        font-weight: 700;
      }

      p {
        font-size: 1.5rem;
        margin: 1.3rem 0 .8rem 0;
        line-height: 2.2rem;
      }

      a {
        font-size: 1.6rem;
        font-weight: bold;
        color: #7D77FC;

      }
    }
  }
}

.schedule {
  padding: 12.8rem 0;
  background: #004A43;

}

.schedule-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    text-align: center;
    font-size: 3.2rem;
    color: white;
  }

  button {
    margin-top: 3.2rem;
    background: #EEA239;
    outline: none;
    border: none;
    font-size: 2.1rem;
    font-weight: 700;
    color: #004A43;
    padding: 2.1rem 5.8rem;
    border-radius: 1.5rem;
    cursor: pointer;

    &:hover {
      background: #7D77FC;
      color: white;
    }
  }
}